SUPABASE_URL=https://wojoksfktuulxpqlclns.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_xShETpi5yObnNe8AejbzWg_XStsvC9F
SUPABASE_SERVICE_ROLE_KEY=your-key-here
VITE_SUPABASE_URL=https://wojoksfktuulxpqlclns.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xShETpi5yObnNe8AejbzWg_XStsvC9F
